{% extends 'base.html' %}
{% block content %}
{% load static %}
<body>
  <main class="container mt-4">
    <h2 class="mb-4">Add a New Book</h2>
    <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
        {{ form.ISBN.label_tag }} {{ form.ISBN }}
      </div>
      <div class="mb-3">
        {{ form.nom.label_tag }} {{ form.nom }}
      </div>
      <div class="mb-3">
        {{ form.auteur.label_tag }} {{ form.auteur }}
      </div>
      <div class="mb-3">
        {{ form.pubDate.label_tag }} {{ form.pubDate }}
      </div>
      <div class="mb-3">
        {{ form.description.label_tag }}
        {{ form.description }}
      </div>
      <div class="mb-3">
        {{ form.language.label_tag }} {{ form.language }}
      </div>
      <div class="mb-3">
        {{ form.genres.label_tag }} {{ form.genres }}
      </div>
      <div class="mb-3">
        {{ form.keywords.label_tag }} {{ form.keywords }}
      </div>
      <div class="mb-3">
        {{ form.nbPage.label_tag }} {{ form.nbPage }}
      </div>
      <div class="mb-3">
        {{ form.dispo.label_tag }} {{ form.dispo }}
      </div>
      <div class="mb-3">
        {{ form.audience.label_tag }} {{ form.audience }}
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
      {% if form.errors %}
  <div class="alert alert-danger">
    {{ form.errors }}
  </div>
  {% endif %}
    </form>
  </main>
{% endblock %}