{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}

{% block content %}
<!-- START NEW ARRIVALS SECTION -->
<div id="myCarouselNewArrivals" class="carousel slide" data-bs-ride="carousel">
  <h1 class="d-flex align-items-center justify-content-center my-2" style="font-size: 3.5em;">!!! New Arrivals !!!
  </h1>
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarouselNewArrivals" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarouselNewArrivals" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarouselNewArrivals" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
        preserveAspectRatio="xMidYMid slice" focusable="false">
        <rect width="100%" height="100%" fill="#8a9982" />
      </svg>

      <div class="container">

        <div class="carousel-caption text-start d-flex justify-content-between align-items-center gap-5">
          <div class="col-4 d-flex align-items-center justify-content-center shadow-lg"
            style="background: #777 url('exempleA.jpeg') no-repeat center center / cover; height: 400px; width: 250px; border: 2px solid #8a998288; border-radius: 10px;">
          </div>
          <div>
            <h1>Book Title 1.</h1>
            <p>Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-outline-light" href="#">See Details</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
        preserveAspectRatio="xMidYMid slice" focusable="false">
        <rect width="100%" height="100%" fill="#8a9982" />
      </svg>

      <div class="container">

        <div class="carousel-caption text-start d-flex justify-content-between align-items-center gap-5">
          <div class="col-4 d-flex align-items-center justify-content-center shadow-lg"
            style="background: #777 url('exempleB.jpeg') no-repeat center center / cover; height: 400px; width: 250px; border: 2px solid #8a998288; border-radius: 10px;">
          </div>
          <div>
            <h1>Book Title 2.</h1>
            <p>Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-outline-light" href="#">See Details</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
        preserveAspectRatio="xMidYMid slice" focusable="false">
        <rect width="100%" height="100%" fill="#8a9982" />
      </svg>

      <div class="container">

        <div class="carousel-caption text-start d-flex justify-content-between align-items-center gap-5">
          <div class="col-4 d-flex align-items-center justify-content-center  shadow-lg"
            style="background: #777 url('exempleD.jpeg') no-repeat center center / cover; height: 400px; width: 250px; border: 2px solid #8a998288; border-radius: 10px;">
          </div>
          <div>
            <h1>Book Title 3.</h1>
            <p>Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-outline-light" href="#">See Details</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarouselNewArrivals" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarouselNewArrivals" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- END NEW ARRIVALS SECTION -->

<hr class="divider">

<!-- START RECOMMENDATIONS SECTION -->
<div id="myCarouselRecommendations" class="carousel slide" data-bs-ride="carousel">
  <h1 class="d-flex align-items-center justify-content-center my-2" style="font-size: 3.5em;">Recommendations</h1>
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarouselRecommendations" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarouselRecommendations" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarouselRecommendations" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
        preserveAspectRatio="xMidYMid slice" focusable="false">
        <rect width="100%" height="100%" fill="#402e21" />
      </svg>

      <div class="container">

        <div class="carousel-caption text-start d-flex justify-content-between align-items-center gap-5">
          <div class="col-4 d-flex align-items-center justify-content-center shadow-lg"
            style="background: #777 url('exempleA.jpeg') no-repeat center center / cover; height: 400px; width: 250px; border: 2px solid #402e2188; border-radius: 10px;">
          </div>
          <div>
            <h1>Book Title 1.</h1>
            <p>Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-outline-light" href="#">See Details</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
        preserveAspectRatio="xMidYMid slice" focusable="false">
        <rect width="100%" height="100%" fill="#402e21" />
      </svg>

      <div class="container">

        <div class="carousel-caption text-start d-flex justify-content-between align-items-center gap-5">
          <div class="col-4 d-flex align-items-center justify-content-center shadow-lg"
            style="background: #777 url('exempleB.jpeg') no-repeat center center / cover; height: 400px; width: 250px; border: 2px solid #402e2188; border-radius: 10px;">
          </div>
          <div>
            <h1>Book Title 2.</h1>
            <p>Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-outline-light" href="#">See Details</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
        preserveAspectRatio="xMidYMid slice" focusable="false">
        <rect width="100%" height="100%" fill="#402e21" />
      </svg>

      <div class="container">

        <div class="carousel-caption text-start d-flex justify-content-between align-items-center gap-5">
          <div class="col-4 d-flex align-items-center justify-content-center shadow-lg"
            style="background: #777 url('exempleD.jpeg') no-repeat center center / cover; height: 400px; width: 250px; border: 2px solid #402e2188; border-radius: 10px;">
          </div>
          <div>
            <h1>Book Title 3.</h1>
            <p>Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-outline-light" href="#">See Details</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarouselRecommendations" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarouselRecommendations" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- END RECOMMENDATIONS SECTION -->

<hr class="divider">

<!-- START MOST LIKED BOOKS PER WEEK/MONTH -->
<div class="container marketing">
  <!-- START BOOK OF THE WEEK SECTION -->
  <div class="row featurette d-flex justify-content-center align-items-center gap-5">
    <div class="col-md-7">
      <h2 class="featurette-heading">BOOK OF THE WEEK. <br> <span class="text-muted">Book title here - author</span>
      </h2>
      <p class="lead">&lt;&lt;<i>Top comment here</i>&gt;&gt;</p>
    </div>
    <div class="col-md-5 d-flex align-items-center justify-content-center shadow-lg"
      style="background: #777 url('exempleB.jpeg') no-repeat center center / cover; height: 400px; width: 250px; border: 2px solid #5d432f88; border-radius: 10px;">
    </div>
  </div>

  <!-- END BOOK OF THE WEEK SECTION -->

  <hr class="divider">

  <!-- START BOOK OF THE MONTH SECTION -->
  <div class="row featurette d-flex justify-content-center align-items-center gap-5">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">BOOK OF THE MONTH. <br> <span class="text-muted">Book title here -
          author</span></h2>
      <p class="lead">&lt;&lt;<i>Top comment here</i>&gt;&gt;</p>
    </div>
    <div class="col-md-5 order-md-1 d-flex align-items-center justify-content-center shadow-lg"
      style="background: #777 url('exempleA.jpeg') no-repeat center center / cover; height: 400px; width: 250px; border: 2px solid #5d432f88; border-radius: 10px;">
    </div>
  </div>
  <!-- END BOOK OF THE MONTH SECTION -->
</div>
<!-- END MOST LIKED BOOKS PER WEEK/MONTH -->
{% endblock %}

{% load static %}

